<h1 class="title">Instigrim</h1>
    <p id="notice"><%= notice %></p>
    
    <p><div class="content1">
      <%= button_to 'All Posts', blogs_path, method: :get, class: "button3" %>
        </div></p>
    <p><div class="content2">
      <%= button_to 'Make new Post', new_blog_path, method: :get, class: "button3" %>
        </div></p>