body {
    padding-bottom: 10%;
    text-align: center;
    font-family: serif;
    font-weight: 100;    
}

.th_title{
    font-style: italic;
    color: rgb(129, 120, 120);
}

.th_label{
    font-style: italic;
}

.th_content{
    padding-top: 10px;
    font-style: italic;
    text-align: left;
    font-weight: bold;
    color: rgb(129, 120, 120);
}

.link{
    color:#dc2743;
    font-style: italic;
}

.user_index{
    text-align: left;
    font-style: italic;
}
